<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/css/login.css" type="text/css" rel="stylesheet" >
    <title>Login</title>
</head>
<body>
<form class="container" action="{{ url_for('user.login')}}" method="post">

    <div class="login-wrapper">
      <div class="header">欢迎登录宿舍管理系统</div>
      <div class="form-wrapper">
        <input type="text" name="username" placeholder="username" class="form-control">
        <input type="password" name="password" placeholder="password" class="form-control">
         <input type="submit" value="登录" class="btn">
      </div>
      <div class="msg">
       没有账户? <a href="{{url_for('user.register_form')}}">注册</a>
      </div>
    </div>

</form>
</body>
</html>